<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<meta charset="utf-8">-->
<!--<head th:include="include :: header"></head>-->
<!--<body class="gray-bg">-->
<!--<div class="wrapper wrapper-content ">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<div class="ibox float-e-margins">-->
                <!--<div class="ibox-content">-->
                    <!--<form class="form-horizontal m-t" id="signupForm">-->

                        <!--<div class="ibox">-->
                            <!--<div class="ibox-body">-->
                                <!--<ul class="nav nav-tabs">-->
                                    <!--<li class="active"   ><a data-toggle="tab" href="#tab-1"><i class="fa fa-file-text"></i>待办工作</a>-->
                                    <!--</li>-->
                                    <!--<li class="" ><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase" ></i>已办工作</a>-->
                                    <!--</li>-->
                                    <!--<li class="" ><a data-toggle="tab" href="#tab-3"><i class="fa fa-briefcase"></i>全部任务</a>-->
                                    <!--</li>-->
                                <!--</ul>-->


                                <!--<table class="table table-bordered">-->
                                    <!--<thead>-->
                                    <!--<tr>-->
                                        <!--<th>名称</th>-->
                                        <!--<th>任务人员</th>-->
                                        <!--<th>任务完成时间</th>-->
                                        <!--<th>描述</th>-->
                                        <!--<th>状态</th>-->
                                        <!--<th>操作</th>-->
                                    <!--</tr>-->
                                    <!--</thead>-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<td>AAA</td>-->
                                        <!--<td>XXXXX</td>-->
                                        <!--<td>2018..12.12</td>-->
                                        <!--<td>代办任务</td>-->
                                        <!--<td>asdaf</td>-->
                                        <!--<td> <button onclick="havenAAA()">执行</button> <button onclick="totalAAA()">详情</button></td>-->
                                        <!--<script>-->
                                            <!--function havenAAA() {-->
                                                <!--layer.open({-->
                                                    <!--type: 2,-->
                                                    <!--title: '已办任务任务详情',-->
                                                    <!--maxmin: true,-->
                                                    <!--shadeClose: false, // 点击遮罩关闭层-->
                                                    <!--area: ['800px', '520px'],-->
                                                    <!--content:"/event/processing"+ '/haven' // iframe的url-->
                                                <!--});-->
                                            <!--}-->
                                            <!--function totalAAA() {-->
                                                <!--layer.open({-->
                                                    <!--type: 2,-->
                                                    <!--title: '全部任务任务详情',-->
                                                    <!--maxmin: true,-->
                                                    <!--shadeClose: false, // 点击遮罩关闭层-->
                                                    <!--area: ['800px', '520px'],-->
                                                    <!--content: "/event/processing" + '/total' // iframe的url-->
                                                <!--});-->
                                            <!--}-->
                                        <!--</script>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->



                                    <!--&lt;!&ndash;<tbody>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<td>BBB</td>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<td>XXXXX</td>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<td>2018..12.12</td>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<td>已办任务</td>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<td>asdaf</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</tbody>&ndash;&gt;-->
                                <!--</table>-->


                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->









                        <!--&lt;!&ndash;<h3>任务详情</h3>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                            <!--&lt;!&ndash;<label class="col-sm-3 control-label">任务人员：</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
                                <!--&lt;!&ndash;<input id="missionPersonnel" name="missionPersonnel" class="form-control" type="text">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                            <!--&lt;!&ndash;<label class="col-sm-3 control-label">任务完成时间：</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
                                <!--&lt;!&ndash;<input id="missionCompletionTime" name="missionCompletionTime" class="form-control"&ndash;&gt;-->
                                       <!--&lt;!&ndash;type="text">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                            <!--&lt;!&ndash;<label class="col-sm-3 control-label">描述：</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<input id="describe" name="describe" class="form-control" type="text">&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;<textarea id="processingContent" name="processingContent" class="form-control"&ndash;&gt;-->
                                      <!--&lt;!&ndash;&gt;</textarea>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->

                        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="col-sm-8 col-sm-offset-3" style="text-align: center">&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="submit" class="btn btn-primary" style="margin-right: 10px">分配任务</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="submit" class="btn btn-primary">返回</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</form>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div th:include="include::footer"></div>-->
<!--<script type="text/javascript" src="/js/appjs/event/processing/add.js">-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
