<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body" style="margin-bottom: 15px">

                <button type="button" class="btn  btn-primary" onclick=" " style="margin-right: 5px">事件升级</button>
                <button type="button" class="btn  btn-primary" onclick=" " style="margin-right: 5px">升级二线</button>
                <button type="button" class="btn  btn-danger" onclick="taskAAA()" style="margin-right: 5px">协作</button>
                <button type="button" class="btn  btn-danger" onclick="handleAAA()" style="margin-right: 5px">处理</button>
                <script>
                    function taskAAA() {
                        layer.open({
                            type: 2,
                            title: '协作',
                            maxmin: true,
                            shadeClose: false, // 点击遮罩关闭层
                            area: ['800px', '520px'],
                            content: prefix + '/task' // iframe的url
                        });
                    }

                    function handleAAA() {
                        layer.open({
                            type: 2,
                            title: '处理',
                            maxmin: true,
                            shadeClose: false, // 点击遮罩关闭层
                            area: ['800px', '520px'],
                            content: prefix + '/handle' // iframe的url
                        });
                    }
                </script>
                <button type="button" class="btn  btn-primary" onclick=" " style="margin-right: 5px">转问题</button>
                <button type="button" class="btn  btn-danger" onclick=" " style="margin-right: 5px">转知识库</button>
                <div style="clear: both; margin-top: 15px" >
                    工&nbsp; 单&nbsp; 号 <input id="searchJobNumber" name="jobNumber" class="form-control" type="text"
                                             style="width: 20%; display: inline-block;margin-right: 3%">
                    服务类别 <input id="searchType" name="type" class="form-control" type="text"
                                style="width: 20%;  display: inline-block;margin-right: 3%">
                    事件级别 <input id="searchEventLevel" name="eventLevel" class="form-control" type="text"
                                style="width: 20%;  display: inline-block;margin-right: 3%">
                </div>
                <div style="margin-top: 10px">
                    投报时间 <input id="searchReportingTime" name="reportingTime" class="form-control" type="text"
                                style="width: 20%; display: inline-block;margin-right: 3%">
                    状&nbsp; &nbsp; &nbsp; &nbsp; 态 <input id="searchState" name="state" class="form-control" type="text"
                                                          style="width: 20%;  display: inline-block;margin-right: 3%">
                    <button class="btn btn-success" onclick="reLoad()">查询</button>
                </div>


                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="event:processing:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="event:processing:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="event:processing:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/event/processing/processing.js"></script>
</body>
</html>