<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<!--<div class="wrapper wrapper-content ">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<div class="ibox float-e-margins">-->
                <!--<div class="ibox-content" style="text-align: center">-->
                    <!--<form class="form-horizontal m-t" id="signupForm">-->
                        <!--&lt;!&ndash;<input id="eventId" name="eventId" th:value="${processing.eventId}" type="hidden">&ndash;&gt;-->
                        <!--<div class="form-group">-->
                            <!--工&nbsp;单&nbsp;号<input id="jobNumber" name="jobNumber" th:value="${processing.jobNumber}"-->
                                      <!--class="form-control" type="text" style="width: 25%;  display: inline-block;margin-right: 3%">-->
                            <!--投&nbsp;资&nbsp;人<input id="person" name="person" th:value="${processing.person}" class="form-control"-->
                                      <!--type="text" style="width: 25%;  display: inline-block;margin-right: 3%">-->

                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--投报时间<input id="reportingTime" name="reportingTime" th:value="${processing.reportingTime}"-->
                                       <!--class="form-control" type="text" style="width: 25%;  display: inline-block;margin-right: 3%">-->

                            <!--状&nbsp;&nbsp;&nbsp;&nbsp;态<input id="state" name="state" th:value="${processing.state}" class="form-control"-->
                                     <!--type="text" style="width: 25%;  display: inline-block;margin-right: 3%">-->

                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--处理人员-->
                            <!--<input id="handlingPersonnel" name="handlingPersonnel"-->
                                   <!--th:value="${processing.handlingPersonnel}" class="form-control" type="text"-->
                                   <!--style="width: 25%;  display: inline-block;margin-right: 3%">-->
                            <!--事件级别<input id="eventLevel" name="eventLevel" th:value="${processing.eventLevel}"-->
                            <!--class="form-control" type="text" style="width: 25%;  display: inline-block;margin-right: 3%" >-->

                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--服务类型-->
                            <!--<input id="type" name="type" th:value="${processing.type}" class="form-control"-->
                                   <!--type="text" style="width: 25%;  display: inline-block;margin-right: 3%">-->

                            <!--来&nbsp;&nbsp;&nbsp;&nbsp;源<input id="source" name="source" th:value="${processing.source}" class="form-control"-->
                                     <!--type="text" style="width: 25%;  display: inline-block;margin-right: 3%">-->

                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="col-sm-3 control-label">处理内容：</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input id="processingContent" name="processingContent"&ndash;&gt;-->
                        <!--&lt;!&ndash;th:value="${processing.processingContent}" class="form-control" type="text">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="col-sm-3 control-label">附件：</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input id="enclosure" name="enclosure" th:value="${processing.enclosure}"&ndash;&gt;-->
                        <!--&lt;!&ndash;class="form-control" type="text">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="col-sm-3 control-label">任务人员：</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input id="missionPersonnel" name="missionPersonnel"&ndash;&gt;-->
                        <!--&lt;!&ndash;th:value="${processing.missionPersonnel}" class="form-control" type="text">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="col-sm-3 control-label">任务完成时间：</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input id="missionCompletionTime" name="missionCompletionTime"&ndash;&gt;-->
                        <!--&lt;!&ndash;th:value="${processing.missionCompletionTime}" class="form-control" type="date">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="col-sm-3 control-label">描述：</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input id="describe" name="describe" th:value="${processing.describe}"&ndash;&gt;-->
                        <!--&lt;!&ndash;class="form-control" type="text">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-8 col-sm-offset-3">-->
                                <!--<button type="submit" class="btn btn-primary">提交</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <ul class="nav nav-tabs">
                    <li><a href="#attribute" data-toggle="tab">属性</a></li>
                    <li><a href="#1" data-toggle="tab">关键配置项</a></li>
                    <li><a href="#2" data-toggle="tab">相关联系人</a></li>
                    <li><a href="#3" data-toggle="tab">关联事件</a></li>
                    <li><a href="#4" data-toggle="tab">关联只是</a></li>
                    <li><a href="#5" data-toggle="tab">关联请求</a></li>
                    <li><a href="#6" data-toggle="tab">工作任务</a></li>
                    <li><a href="#7" data-toggle="tab">附件</a></li>
                </ul>
                <form class="form-horizontal m-t" id="signupForm">
                    <div id="myTabContent" class="tab-content">
                        <div class="ibox-content tab-pane fade in active" id="attribute">
                            <fieldset>
                                <div class="ibox-content tab-pane fade in active" id="essentialInformation">
                                    <legend>基本信息</legend>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">组织：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="organization" readonly name="organization" class="form-control" type="text">
                                        </div>

                                        <label class="col-sm-3 control-label" style="width: 16%">发起人：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="initiator" readonly name="initiator" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">状态：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="state" readonly value="已分配" name="state" class="form-control" type="text">
                                        </div>

                                        <label class="col-sm-3 control-label" style="width: 16%">途径：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="phone" readonly value="电话" name="phone" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">组织：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="title" readonly value="无法上网" name="title" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">描述：</label>
                                        <div class="col-sm-8" >
                                            <textarea id="describe" readonly style="resize: none"  name="describe" class="form-control">内部的系统可以使用，不能打开百度网页</textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="ibox-content tab-pane fade in active" id="moreInformation">
                                    <legend>更多信息</legend>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">服务目录：</label>
                                        <div class="col-sm-8" >
                                            <input id="serviceDirectory" value="网络维护服务" type="text" readonly  name="serviceDirectory" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">子级目录：</label>
                                        <div class="col-sm-8" >
                                            <input id="sublevelDirectory" value="交换机维护" type="text" readonly  name="sublevelDirectory" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">升级：</label>
                                        <div class="col-sm-8" >
                                            <input id="upgrade" value="交换机维护" type="text" readonly  name="upgrade" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">升级原因：</label>
                                        <div class="col-sm-8" >
                                            <textarea id="Reason" style="resize: none"  readonly  name="Reason" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="ibox-content tab-pane fade in active" id="interior">
                                    <legend>内部日志</legend>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-8" >
											<textarea id="inside" style="resize: none" readonly  name="inside" class="form-control">
											</textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="ibox-content tab-pane fade in active" id="outInterior">
                                    <legend>外部日志</legend>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-8" >
											<textarea id="outside" style="resize: none"  readonly  name="outside" class="form-control">
											</textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="ibox-content tab-pane fade in active" id="assessment">
                                    <legend>风险评估</legend>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">影响范围：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="scope" readonly value="个人" name="scope" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">紧急度：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="degree" readonly value="个人" name="degree" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">优先级：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="priority" readonly value="低" name="priority" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="ibox-content tab-pane fade in active" id="contacts">
                                    <legend>联系人</legend>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">执行团队：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="team" readonly value="桌面运维" name="team" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">办理人：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="transactor" readonly value="酷邦" name="transactor" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="ibox-content tab-pane fade in active" id="dateInformation">
                                    <legend>日期信息</legend>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">开始日期：</label>
                                        <div class="col-sm-8" >
                                            <input id="start" value="2018-01-30 21:57:53" type="text" readonly  name="start" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">最后更新：</label>
                                        <div class="col-sm-8" >
                                            <input id="last" value="2018-02-01 09:58:02" type="text" readonly  name="last" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">分配日期：</label>
                                        <div class="col-sm-8" >
                                            <input id="distribution" value="2018-01-30 21:58:08" type="text" readonly  name="distribution" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">解决时间截止：</label>
                                        <div class="col-sm-8" >
                                            <input id="end" value="超时 200d 11h 15min" type="text" readonly  name="end" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="ibox-content tab-pane fade in active" id="information">
                                    <legend>相关信息</legend>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">父级事件：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="parentevent" readonly  name="parentevent" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" >父级问题：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="problem" readonly  name="problem" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">父级变更：</label>
                                        <div class="col-sm-8" style="width: 25%;display: inline">
                                            <input id="change" readonly  name="change" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="ibox-content tab-pane fade in active" id="solution">
                                    <legend>解决方案</legend>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">方案：</label>
                                        <div class="col-sm-8" >
                                            <textarea id="programme" style="resize: none" readonly  name="programme" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="ibox-content tab-pane fade in active" id="presentation">
                                    <legend>SLA报告</legend>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">响应超时：</label>
                                        <div class="col-sm-8" >
                                            <input id="overtime" type="text" readonly  name="overtime" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">超出时间：</label>
                                        <div class="col-sm-8" >
                                            <input id="beyond" type="text" readonly  name="beyond" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="ibox-content tab-pane fade" id="1">
                            <table id="table1" data-mobile-responsive="true">
                            </table>
                        </div>
                        <div class="ibox-content tab-pane fade" id="2">
                            <table id="table2" data-mobile-responsive="true">
                            </table>
                        </div>
                        <div class="ibox-content tab-pane fade" id="3">
                            <table id="table3" data-mobile-responsive="true">
                            </table>
                        </div>
                        <div class="ibox-content tab-pane fade" id="4">
                            <table id="table4" data-mobile-responsive="true">
                            </table>
                        </div>
                        <div class="ibox-content tab-pane fade" id="5">
                            <table id="table5" data-mobile-responsive="true">
                            </table>
                        </div>
                        <div class="ibox-content tab-pane fade" id="6">
                            <table id="table6" data-mobile-responsive="true">
                            </table>
                        </div>
                        <div class="ibox-content tab-pane fade" id="7">
                            <table id="table7" data-mobile-responsive="true">
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-3">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>



<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/event/processing/edit.js">
</script>
</body>
</html>
