<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm" style="display: inline">
							<input id="contractId" name="contractId" th:value="${reportto.contractId}"  type="hidden" style="display: inline-block">
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">合同编号：</label>
								<div class="col-sm-8">
									<input id="userName" name="userName" th:value="${reportto.contractId}" class="form-control" type="text" >
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" >用户：</label>
								<div class="col-sm-8">
									<input id="installAddress" name="installAddress" th:value="${reportto.userName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">安装地点：</label>
								<div class="col-sm-8">
									<input id="goods" name="goods" th:value="${reportto.installAddress}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label">货物：</label>
								<div class="col-sm-8">
									<input id="debugData1" name="debugData" th:value="${reportto.goods}" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group" style="display: inline-block;width: 70%">
								<label class="col-sm-3 control-label" style="width: 30%">安装调试时间：</label>
								<div class="col-sm-8">
									<input id="debugData2" name="debugData" th:value="${reportto.debugData}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">货物数量：</label>
								<div class="col-sm-8">
									<input id="debugData3" name="debugData" value="2" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" >保修期：</label>
								<div class="col-sm-8">
									<input id="debugData4" name="debugData" value="3年" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 70%">
								<label class="col-sm-3 control-label"  style="width: 30%">客户签字：</label>
								<div class="col-sm-8">
									<input id="debugData5" name="debugData" value="dfsdfdsf161f561651d15d" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;margin-left: -30px">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary" style="background-color: #00B83F">查看</button>
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 70%">
								<label class="col-sm-3 control-label" style="width: 30%">合同内容：</label>
								<div class="col-sm-8">
									<input id="debugData6" name="debugData" value="dadaw1dw6516156" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group" style="display: inline-block;margin-left: -30px">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary" style="background-color: #5f8dd3">下载</button>
								</div>
							</div>
<div>
							<div class="form-group"  style="display: inline-block;margin-left: 120px">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary" style="background-color: #00B83F">通过</button>
								</div>
							</div>
							<div class="form-group"  style="display: inline-block;margin-left: 120px">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary" style="background-color: #cc0000">返回</button>
								</div>
							</div>
							<div class="form-group"  style="display: inline-block;margin-left: 120px">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary" style="background-color: #0e9aef">取消</button>
								</div>
							</div>
	</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/reportto/edit.js">
	</script>
</body>
</html>
