<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="queId" name="queId" th:value="${point.queId}"  type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">知识点：</label>
								<div class="col-sm-8">
									<textarea id="quePoint" name="quePoint" th:value="${point.quePoint}"style="width: 450px;height: 120px;resize: none" ></textarea>
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/point/edit.js">
	</script>
</body>
</html>
