<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<button shiro:hasPermission="system:point:add" type="button" class="btn  btn-primary" onclick="add()">
							<i class="fa fa-plus" aria-hidden="true"></i>添加
						</button>
						<button shiro:hasPermission="system:point:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
							<i class="fa fa-trash" aria-hidden="true"></i>删除
						</button>
						<div style="text-align: center">
							<div>
								<div style="display: inline;margin: 40px;">
									<label>名称：</label>
									<input id="searchId" type="text" class="form-control"
										   placeholder="" style="display: inline;width: 200px">
								</div>
								<div style="display: inline;margin: 40px;">
									<label>组织：</label>
									<select id="queOrganization" name="queOrganization" style="width: 80px;height: 35px;">
										<option value=1>组织1</option>
										<option value=2>组织2</option>
										<option value=3>组织3</option>
									</select>
								</div>
								<div style="display: inline;margin: 40px;">
									<label>状态：</label>
									<select id="queState" name="queState" style="width: 80px;height: 35px;">
										<option value=1>状态1</option>
										<option value=2>状态2</option>
										<option value=3>状态3</option>
									</select>
								</div>
								<div style="display: inline;margin: 40px;">
									<label>优先级：</label>
									<select id="queScope" name="queScope" style="width: 80px;height: 35px;">
										<option value=1>非常高</option>
										<option value=2>高</option>
										<option value=3>中</option>
									</select>
								</div>
							</div>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:point:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:point:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:point:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/system/point/point.js"></script>
</body>
</html>