<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.AmanageDao">

	<select id="get" resultType="com.bootdo.system.domain.AmanageDO">
		select `sla_id`,`sla_name`,`sla_supplier`,`sla_describe` from sla_amanage where sla_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.AmanageDO">
		select `sla_id`,`sla_name`,`sla_supplier`,`sla_describe` from sla_amanage
        <where>  
		  		  <if test="slaId != null and slaId != ''"> and sla_id = #{slaId} </if>
		  		  <if test="slaName != null and slaName != ''"> and sla_name = #{slaName} </if>
		  		  <if test="slaSupplier != null and slaSupplier != ''"> and sla_supplier = #{slaSupplier} </if>
		  		  <if test="slaDescribe != null and slaDescribe != ''"> and sla_describe = #{slaDescribe} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by sla_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sla_amanage
		 <where>  
		  		  <if test="slaId != null and slaId != ''"> and sla_id = #{slaId} </if>
		  		  <if test="slaName != null and slaName != ''"> and sla_name = #{slaName} </if>
		  		  <if test="slaSupplier != null and slaSupplier != ''"> and sla_supplier = #{slaSupplier} </if>
		  		  <if test="slaDescribe != null and slaDescribe != ''"> and sla_describe = #{slaDescribe} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.AmanageDO">
		insert into sla_amanage
		(
			`sla_id`, 
			`sla_name`, 
			`sla_supplier`, 
			`sla_describe`
		)
		values
		(
			#{slaId}, 
			#{slaName}, 
			#{slaSupplier}, 
			#{slaDescribe}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.AmanageDO">
		update sla_amanage 
		<set>
			<if test="slaName != null">`sla_name` = #{slaName}, </if>
			<if test="slaSupplier != null">`sla_supplier` = #{slaSupplier}, </if>
			<if test="slaDescribe != null">`sla_describe` = #{slaDescribe}</if>
		</set>
		where sla_id = #{slaId}
	</update>
	
	<delete id="remove">
		delete from sla_amanage where sla_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sla_amanage where sla_id in 
		<foreach item="slaId" collection="array" open="(" separator="," close=")">
			#{slaId}
		</foreach>
	</delete>

</mapper>