<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.kaohe.dao.KaoheDao">

	<select id="get" resultType="com.bootdo.kaohe.domain.KaoheDO">
		select `id`,`name`,`year`,`mouth`,`time`,`fraction` from work_kaohe where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.kaohe.domain.KaoheDO">
		select `id`,`name`,`year`,`mouth`,`time`,`fraction` from work_kaohe
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="year != null and year != ''"> and year = #{year} </if>
		  		  <if test="mouth != null and mouth != ''"> and mouth = #{mouth} </if>
		  		  <if test="time != null and time != ''"> and time = #{time} </if>
		  		  <if test="fraction != null and fraction != ''"> and fraction = #{fraction} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from work_kaohe
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="year != null and year != ''"> and year = #{year} </if>
		  		  <if test="mouth != null and mouth != ''"> and mouth = #{mouth} </if>
		  		  <if test="time != null and time != ''"> and time = #{time} </if>
		  		  <if test="fraction != null and fraction != ''"> and fraction = #{fraction} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.kaohe.domain.KaoheDO" useGeneratedKeys="true" keyProperty="id">
		insert into work_kaohe
		(
			`name`, 
			`year`, 
			`mouth`, 
			`time`, 
			`fraction`
		)
		values
		(
			#{name}, 
			#{year}, 
			#{mouth}, 
			#{time}, 
			#{fraction}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.kaohe.domain.KaoheDO">
		update work_kaohe 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="year != null">`year` = #{year}, </if>
			<if test="mouth != null">`mouth` = #{mouth}, </if>
			<if test="time != null">`time` = #{time}, </if>
			<if test="fraction != null">`fraction` = #{fraction}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from work_kaohe where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from work_kaohe where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>