<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.SubDao">

	<select id="get" resultType="com.bootdo.system.domain.SubDO">
		select `serve_id`,`serve_name`,`serve`,`serve_state`,`serve_style`,`serve_supplier` from serve_sub where serve_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.SubDO">
		select `serve_id`,`serve_name`,`serve`,`serve_state`,`serve_style`,`serve_supplier` from serve_sub
        <where>  
		  		  <if test="serveId != null and serveId != ''"> and serve_id = #{serveId} </if>
		  		  <if test="serveName != null and serveName != ''"> and serve_name = #{serveName} </if>
		  		  <if test="serve != null and serve != ''"> and serve = #{serve} </if>
		  		  <if test="serveState != null and serveState != ''"> and serve_state = #{serveState} </if>
		  		  <if test="serveStyle != null and serveStyle != ''"> and serve_style = #{serveStyle} </if>
		  		  <if test="serveSupplier != null and serveSupplier != ''"> and serve_supplier = #{serveSupplier} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by serve_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from serve_sub
		 <where>  
		  		  <if test="serveId != null and serveId != ''"> and serve_id = #{serveId} </if>
		  		  <if test="serveName != null and serveName != ''"> and serve_name = #{serveName} </if>
		  		  <if test="serve != null and serve != ''"> and serve = #{serve} </if>
		  		  <if test="serveState != null and serveState != ''"> and serve_state = #{serveState} </if>
		  		  <if test="serveStyle != null and serveStyle != ''"> and serve_style = #{serveStyle} </if>
		  		  <if test="serveSupplier != null and serveSupplier != ''"> and serve_supplier = #{serveSupplier} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.SubDO">
		insert into serve_sub
		(
			`serve_id`, 
			`serve_name`, 
			`serve`, 
			`serve_state`, 
			`serve_style`, 
			`serve_supplier`
		)
		values
		(
			#{serveId}, 
			#{serveName}, 
			#{serve}, 
			#{serveState}, 
			#{serveStyle}, 
			#{serveSupplier}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.SubDO">
		update serve_sub 
		<set>
			<if test="serveName != null">`serve_name` = #{serveName}, </if>
			<if test="serve != null">`serve` = #{serve}, </if>
			<if test="serveState != null">`serve_state` = #{serveState}, </if>
			<if test="serveStyle != null">`serve_style` = #{serveStyle}, </if>
			<if test="serveSupplier != null">`serve_supplier` = #{serveSupplier}</if>
		</set>
		where serve_id = #{serveId}
	</update>
	
	<delete id="remove">
		delete from serve_sub where serve_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from serve_sub where serve_id in 
		<foreach item="serveId" collection="array" open="(" separator="," close=")">
			#{serveId}
		</foreach>
	</delete>

</mapper>