<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <!--<input id="r3" type="radio" value="0" name="job">通过</input>-->
                            <!--<input id="r4" type="radio" value="1" name="job">不通过</input>-->
                            <label class="col-sm-3 control-label">审批结果：</label>
                            <div class="col-sm-8" style=" padding-left: 10px;display: inline-block;">
                                <input id="r11" type="radio" value="0" name="job" style="margin-left: 20px">通&nbsp;&nbsp;过</input>
                                <input id="r12" type="radio" value="1" name="job" style="margin-left: 30px">不通过</input>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<input id="r3" type="radio" value="0" name="job">通过</input>-->
                            <!--<input id="r4" type="radio" value="1" name="job">不通过</input>-->
                            <label class="col-sm-3 control-label">意&nbsp;&nbsp;&nbsp;&nbsp;见：</label>
                            <div class="col-sm-8" style=" padding-left: 10px;display: inline-block;">
                                <textarea id="serveDescribe" name="serveDescribe" class="form-control"
                                          style="width:30%;resize: none;"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                                <button type="submit" class="btn btn-primary" style="margin-left:10px;">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/event/processing/add.js">
</script>
</body>
</html>
