<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="workId" name="workId" th:value="${lister.workId}" type="hidden" >

                        <div class="form-group">
                            工&nbsp;单&nbsp;号
                            <input id="workNumber" name="workNumber" th:value="${lister.workNumber}"
                                   class="form-control" type="text" style="width: 25%;  display: inline-block;margin-right: 3%">
                            提&nbsp;交&nbsp;人
                            <input id="submitter" name="submitter" th:value="${lister.submitter}"
                                   class="form-control" type="text" style="width: 25%;  display: inline-block;margin-right: 3%">
                        </div>
                        <div class="form-group">
                            服务类别
                            <input id="serviceCategory" name="serviceCategory" th:value="${lister.serviceCategory}"
                                   class="form-control" type="text" style="width: 25%;  display: inline-block;margin-right: 3%">
                            事件级别
                            <input id="level" name="level" th:value="${lister.level}" class="form-control"
                                   type="text" style="width: 25%;  display: inline-block;margin-right: 3%">

                        </div>
                        <div class="form-group">
                            配&nbsp;置&nbsp;项
                            <input id="configurationItem" name="configurationItem"
                                   th:value="${lister.configurationItem}" class="form-control" type="text" style="width: 25%;  display: inline-block;margin-right: 3%">
                            处&nbsp;理&nbsp;人
                            <input id="processingPerson" name="processingPerson"
                                   th:value="${lister.processingPerson}" class="form-control" type="text" style="width: 25%;  display: inline-block;margin-right: 3%">

                        </div>
                        <div class="form-group">
                            事件描述
                            <input id="eventDescription" name="eventDescription"
                                   th:value="${lister.eventDescription}" class="form-control" type="text" style="width: 25%;  display: inline-block;margin-right: 3%">
                        </div>

                        <div>
                            <button type="button" class="btn btn-primary" onclick="slaAAA()"> SLA报告</button>

                            <script>
                                function slaAAA() {
                                    parent.layer.open({
                                        type: 2,
                                        title: 'SLA报告',
                                        maxmin: true,
                                        shadeClose: false, // 点击遮罩关闭层
                                        area: ['800px', '520px'],
                                        content : '/worker/lister' + '/sla' // iframe的url

                                    });
                                }
                            </script>
                        </div>
                        <div class="form-group pull-right">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<!--<script src="/js/appjs/system/tmanage/tmanage.js"></script>-->
<script type="text/javascript" src="/js/appjs/worker/lister/edit.js">
</script>
</body>
</html>
