<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<ul id="myTab" class="nav nav-tabs">
							<li class="active">
								<a href="#shuxing" data-toggle="tab">属性</a>
							</li>
							<li>
								<a href="#wendang" data-toggle="tab"   >技能</a>
							</li>
							<li>
								<a href="#lianxiren" data-toggle="tab">服务地区范围</a>
							</li>

						</ul>
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade in active" id="shuxing">
						<form class="form-horizontal m-t" id="signupForm" style="display: inline">
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">姓名：</label>
								<div class="col-sm-8">
									<input id="engineerName" name="engineerName" th:value="${engineer.engineerName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">工号：</label>
								<div class="col-sm-8">
									<input id="workNumber" name="workNumber" th:value="${engineer.workNumber}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label"style="width: 30%" >是否是工程师：</label>
								<div class="col-sm-8">
									<label class="radio-inline"> <input
											th:field="${engineer.judge}" type="radio" name="status" value="1" />
										是
									</label> <label class="radio-inline"> <input
										th:field="${engineer.judge}" type="radio" name="status" value="0" />
									否
								</label>
								</div>
							</div>

							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">职能：</label>
								<div class="col-sm-8">
									<input id="post" name="post" class="form-control" th:value="${engineer.post}" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">等级：</label>
								<div class="col-sm-8">
									<input id="grade" name="grade" class="form-control" th:value="${engineer.grade}" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">电话：</label>
								<div class="col-sm-8">
									<input id="phone" name="phone" class="form-control" th:value="${engineer.phone}" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%" >邮箱：</label>
								<div class="col-sm-8">
									<input id="email" name="email" class="form-control" th:value="${engineer.email}" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">工程师匹配方式：</label>
								<div class="col-sm-8">
									<input id="engineerMatching" name="engineerMatching" th:value="${engineer.engineerMatching}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%" >位置信息：</label>
								<div class="col-sm-8">
									<input id="adress" name="adress" class="form-control" th:value="${engineer.adress}" type="text">
								</div>
							</div>
							<div class="form-group"  style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">工程师状态：</label>
								<div class="col-sm-8">

									<label class="radio-inline"> <input
											th:field="${engineer.engineerState}" type="radio" name="status" value="1" />
										正常
									</label> <label class="radio-inline"> <input
										th:field="${engineer.engineerState}" type="radio" name="status" value="0" />
									挂起
								</label>
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">性别：</label>
								<div class="col-sm-8">

									<label class="radio-inline"> <input
											th:field="${engineer.sex}" type="radio" name="status" value="1" />
										男
									</label> <label class="radio-inline"> <input
										th:field="${engineer.sex}" type="radio" name="status" value="0" />
									女
								</label>
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label"  style="width: 30%">生日：</label>
								<div class="col-sm-8">
									<input id="brithday" name="brithday" class="form-control"  th:value="${engineer.brithday}" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">部门：</label>
								<div class="col-sm-8">
									<input id="deptId" name="deptId" class="hidden"> <input
										id="deptName" name="deptName" class="form-control" type="text"
										style="cursor: pointer;" onclick="openDept()"
										readonly="readonly" placeholder="测试二部">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
							</div>

						<div class="tab-pane fade" id="wendang">
							<table id="exampleTables" data-mobile-responsive="true" >
							</table>
							<div class="form-group" style="margin-left: 600px">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">赋予</button>
								</div>
							</div>

						</div>
						<div class="tab-pane fade" id="lianxiren">
							<table id="exampleTabless" data-mobile-responsive="true">
							</table>
						</div>

						</div>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/engineer/edit.js">
	</script>

</body>
</html>
