<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar" style="height:70px; border:5px #b4dbed solid; ">
                    <div class="columns pull-left">
                        <select id="searchSelect" style="height: 30px;width: 80px;margin-left: 50px">
                            <option value ="ip"   class="btn  btn-primary" >紧急变更</option>
                            <option value ="nas"  class="btn  btn-primary" >正常变更</option>
                            <option value="pc"  class="btn  btn-primary" >例行变更</option>

                        </select>
                        <button  type="button" class="btn  btn-primary" onclick="ipAAA()" style="margin-left: 10px">
                            分派
                        </button>

                        <script>
                            function ipAAA() {
                                var options=$("#searchSelect option:selected");
                                var title=options.text();
                                if (title=="IP电话"){
                                    layer.open({
                                        type: 2,
                                        title: title,
                                        maxmin: true,
                                        shadeClose: false, // 点击遮罩关闭层
                                        area: ['800px', '520px'],
                                        content : prefix + '/add' // iframe的url
                                    });
                                } else if(title=="NAS"){
                                    layer.open({
                                        type: 2,
                                        title: title,
                                        maxmin: true,
                                        shadeClose: false, // 点击遮罩关闭层
                                        area: ['800px', '520px'],
                                        content : "/deploy/nas" + '/add' // iframe的url

                                    });
                                }else if(title=="PC"){
                                    layer.open({
                                        type: 2,
                                        title: title,
                                        maxmin: true,
                                        shadeClose: false, // 点击遮罩关闭层
                                        area: ['800px', '520px'],
                                        content :"/deploy/pc"+ '/add' // iframe的url

                                    });
                                }


                            }
                            /* function nasAAA() {

                             }
                             function pcAAA() {
                                 layer.open({
                                     type: 2,
                                     title: 'PC',
                                     maxmin: true,
                                     shadeClose: false, // 点击遮罩关闭层
                                     area: ['800px', '520px'],

                                 });
                             }*/
                        </script>
                    </div>
                    <table id="exampleTable" data-mobile-responsive="true">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
    <div>
        <script type="text/javascript">
            var s_edit_h = 'hidden';
            var s_remove_h = 'hidden';
            var s_resetPwd_h = 'hidden';
        </script>
    </div>
    <div shiro:hasPermission="deploy:ip:edit">
        <script type="text/javascript">
            s_edit_h = '';
        </script>
    </div>
    <div shiro:hasPermission="deploy:ip:remove">
        <script type="text/javascript">
            var s_remove_h = '';
        </script>
    </div>
    <div shiro:hasPermission="deploy:ip:resetPwd">
        <script type="text/javascript">
            var s_resetPwd_h = '';
        </script>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/worker/lister/add.js">
</script>
</body>
</html>
