<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">人员：</label>

                            <select style="padding-top: 4px">
                                <option value ="volvo">AAA</option>
                                <option value ="saab">BBB</option>
                                <option value="opel">CCC</option>
                                <option value="audi">DDD</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                                <button type="submit" class="btn btn-primary" style="margin-left:10px;">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/event/processing/add.js">
</script>
</body>
</html>
