<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm" style="display: inline">
							<input id="contractId" name="contractId" th:value="${reportsl.contractId}"  type="hidden" style="display: inline-block">
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">合同编号：</label>
								<div class="col-sm-8">
									<input id="userName" name="userName" th:value="${reportsl.contractId}" class="form-control" type="text" >
								</div>
							</div>
							<div class="form-group" style="display: inline-block">
								<label class="col-sm-3 control-label" >用户：</label>
								<div class="col-sm-8">
									<input id="installAddress" name="installAddress" th:value="${reportsl.userName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block;width: 50%">
								<label class="col-sm-3 control-label" style="width: 30%">安装地点：</label>
								<div class="col-sm-8">
									<input id="goods" name="goods" th:value="${reportsl.installAddress}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group" style="display: inline-block">
								<label class="col-sm-3 control-label">货物：</label>
								<div class="col-sm-8">
									<input id="debugData1" name="debugData" th:value="${reportsl.goods}" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group" style="display: inline-block;width: 70%">
								<label class="col-sm-3 control-label" style="width: 30%">安装调试时间：</label>
								<div class="col-sm-8">
									<input id="debugData2" name="debugData" th:value="${reportsl.debugData}" class="form-control" type="text">
								</div>
							</div>


							<div class="form-group" >
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/reportsl/edit.js">
	</script>
</body>
</html>
