<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">
								<label class="col-sm-3 control-label">工单号：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input   id="workId" name="workId" th:value="${list.workId}" class="form-control" type="text">
								</div>
								<label class="col-sm-3 control-label" style="width: 16%">提报人：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input  id="workJournalist" name="workJournalist" th:value="${list.workJournalist}" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">服务类别：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input id="workServiceCategory" name="workServiceCategory" th:value="${list.workServiceCategory}" class="form-control" type="text">
								</div>
								<label class="col-sm-3 control-label"  style="width: 16%">事件级别：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<!--<input id="workEventLevel" name="workEventLevel" class="form-control" type="text">-->
									<!--th:value="${list.workEventLevel}"-->
									<select id="workEventLevel" name="workEventLevel" class="form-control">
										<option value="">严重</option>
										<option value="">高</option>
										<option value="">中</option>
										<option value="">低</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" >提投时间：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input id="workJournalistTime" th:value="${list.workJournalistTime}" name="workJournalistTime" class="form-control" type="date">
								</div>
								<label class="col-sm-3 control-label" style="width: 16%">状态：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<!--<input id="workState" name="workState"  th:value="${list.workState}" class="form-control" type="text">-->
									<select id="workState" name="workState" class="form-control">
										<option value="">状态一</option>
										<option value="">状态二</option>
										<option value="">状态三</option>
										<option value="">状态四</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" >配置项：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input id="workConfiguration" name="workConfiguration"  class="form-control" type="text">
								</div>
								<label class="col-sm-3 control-label" style="width: 16%">处理人员：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input id="workHandlingPersonnel" name="workHandlingPersonnel" th:value="${list.workHandlingPersonnel}" class="form-control" type="text">
								</div>
							</div>


							<!--
														<div class="form-group">
								<label class="col-sm-3 control-label">提报时间：</label>
								<div class="col-sm-8">
									<input id="workJournalistTime" name="workJournalistTime" th:value="${list.workJournalistTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<input id="workState" name="workState" th:value="${list.workState}" class="form-control" type="text">
								</div>
							</div>-->
														<!--<div class="form-group">
								<label class="col-sm-3 control-label">处理人员：</label>
								<div class="col-sm-8">
									<input id="workHandlingPersonnel" name="workHandlingPersonnel" th:value="${list.workHandlingPersonnel}" class="form-control" type="text">
								</div>
							</div>-->
														<!--<div class="form-group">
								<label class="col-sm-3 control-label">事件级别：</label>
								<div class="col-sm-8">
									<input id="workEventLevel" name="workEventLevel" th:value="${list.workEventLevel}" class="form-control" type="text">
								</div>
							</div>-->
														<!--<div class="form-group">
								<label class="col-sm-3 control-label">服务类别：</label>
								<div class="col-sm-8">
									<input id="workServiceCategory" name="workServiceCategory" th:value="${list.workServiceCategory}" class="form-control" type="text">
								</div>
							</div>-->
														<!--<div class="form-group">
								<label class="col-sm-3 control-label">来源：</label>
								<div class="col-sm-8">
									<input id="workSource" name="workSource" th:value="${list.workSource}" class="form-control" type="text">
								</div>
							</div>-->
							<div class="form-group">
								<label class="col-sm-3 control-label">事件描述：</label>
								<div class="col-sm-8">
									<textarea rows="5" cols="30" style="resize: none"  th:value="${list.workSource}" id="workSource" name="workSource" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/work/list/edit.js">
	</script>
</body>
</html>
