<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<ul class="nav nav-tabs">
					<li><a href="#attribute" data-toggle="tab">属性</a></li>
					<li><a href="#1" data-toggle="tab">关键配置项</a></li>
					<li><a href="#2" data-toggle="tab">相关联系人</a></li>
					<li><a href="#3" data-toggle="tab">关联事件</a></li>
					<li><a href="#4" data-toggle="tab">关联知识</a></li>
					<li><a href="#5" data-toggle="tab">关联请求</a></li>
					<li><a href="#6" data-toggle="tab">工作任务</a></li>
					<li><a href="#7" data-toggle="tab">附件</a></li>
				</ul>
				<form class="form-horizontal m-t" id="signupForm">
					<div id="myTabContent" class="tab-content">
						<div class="ibox-content tab-pane fade in active" id="attribute">
							<div class="form-group">
								<label class="col-sm-3 control-label">工单号：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input  id="workId" name="workId" class="form-control" type="text">
								</div>
								<label class="col-sm-3 control-label" style="width: 16%">提报人：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input  id="workJournalist" name="workJournalist" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">影响范围：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<select id="yingxiangfanwei" name="workServiceCategory" class="form-control">
										<option value="一级">严重</option>
										<option value="二级">高</option>
										<option value="三级">中</option>
										<option value="四级">低</option>
									</select>
								</div>
								<label class="col-sm-3 control-label"  style="width: 16%">紧急程度：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<!--<input id="workEventLevel" name="workEventLevel" class="form-control" type="text">-->
									<select id="jinjichengdu" name="workEventLevel" class="form-control">
										<option value="严重">严重</option>
										<option value="高">高</option>
										<option value="中">中</option>
										<option value="低">低</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">服务类别：</label>
								<div class="col-sm-8"  style="width: 25%;display: inline">
									<input id="deptId" name="deptId" class="hidden"> <input
										id="searchKonwCategory" name="searchKonwCategory" class="form-control" type="text"
										style="cursor: pointer;" onclick="openDept()"
										 placeholder="所属类别">
								</div>
								<script>
                                    var openDept = function(){
                                        layer.open({
                                            type:2,
                                            title:"选择类别",
                                            area : [ '300px', '450px' ],
                                            content:"/system/sysDept/treeView"
                                        })
                                    }
								</script>
								<label class="col-sm-3 control-label"  style="width: 16%">事件级别：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<!--<input id="workEventLevel" name="workEventLevel" class="form-control" type="text">-->
									<select id="workEventLevel" name="workEventLevel" class="form-control">
										<option value="严重">严重</option>
										<option value="高">高</option>
										<option value="中">中</option>
										<option value="低">低</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" >提投时间：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input id="workJournalistTime" name="workJournalistTime" class="form-control" type="date">
								</div>
								<label class="col-sm-3 control-label" style="width: 16%">状态：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<select id="workState" name="workState" class="form-control">
										<option value="">状态一</option>
										<option value="">状态二</option>
										<option value="">状态三</option>
										<option value="">状态四</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" >配置项：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input id="workConfiguration" name="workConfiguration" class="form-control" type="text">
								</div>
								<label class="col-sm-3 control-label" style="width: 16%">处理人员：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input id="workHandlingPersonnel" name="workHandlingPersonnel" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">事件描述：</label>
								<div class="col-sm-8">
									<textarea rows="5" cols="30" style="resize: none" id="workSource" name="workSource" class="form-control"></textarea>
								</div>
							</div>
						</div>
						<div class="ibox-content tab-pane fade" id="1">
							<table id="table1" data-mobile-responsive="true">
							</table>
						</div>
						<div class="ibox-content tab-pane fade" id="2">
							<table id="table2" data-mobile-responsive="true">
							</table>
						</div>
						<div class="ibox-content tab-pane fade" id="3">
							<table id="table3" data-mobile-responsive="true">
							</table>
						</div>
						<div class="ibox-content tab-pane fade" id="4">
							<table id="table4" data-mobile-responsive="true">
							</table>
						</div>
						<div class="ibox-content tab-pane fade" id="5">
							<table id="table5" data-mobile-responsive="true">
							</table>
						</div>
						<div class="ibox-content tab-pane fade" id="6">
							<table id="table6" data-mobile-responsive="true">
							</table>
						</div>
						<div class="ibox-content tab-pane fade" id="7">
							<table id="table7" data-mobile-responsive="true">
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="form-group">
				<div class="col-sm-8 col-sm-offset-3">
					<button type="submit" class="btn btn-primary">提交</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
</div>
<div th:include="include::footer"></div>
<!--<script type="text/javascript" src="/js/appjs/work/list/add.js">

</script>-->
<script type="text/javascript" src="/js/appjs/work/list/table.js">

</script>
</body>
</html>
