<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">变更级别：</label>

                            <select style="padding-top: 4px">
                                <option value ="volvo">一般变更</option>
                                <option value ="saab">重大变更</option>
                                <option value="opel">紧急变更</option>
                                <!--<option value="audi">DDD</option>-->
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排程人员：</label>

                            <select style="padding-top: 4px">
                                <option value ="volvo">张思</option>
                                <option value ="saab">李三</option>
                                <option value="opel">王柳</option>
                                <!--<option value="audi">DDD</option>-->
                            </select>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">备&nbsp;&nbsp;&nbsp;&nbsp;注：</label>
                            <div class="col-sm-8" style=" padding-left: 10px;display: inline-block;">
                                <textarea id="serveDescribe" name="serveDescribe" class="form-control"
                                          style="width:30%;resize: none"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">确认</button>
                                <button type="submit" class="btn btn-primary" style="margin-left:10px;">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/event/processing/add.js">
</script>
</body>
</html>
