<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<table id="exampleTable" data-mobile-responsive="true">
						</table>
						<div class="form-group" style="margin-left: 600px">
							<div class="col-sm-8 col-sm-offset-3">
								<button type="submit" class="btn btn-primary"  shiro:hasPermission="system:fraction:add" onclick="add()">添加考核</button>
							</div>
						</div>
					</div>

				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/fraction/edit.js">
	</script>
</body>
</html>
