<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="queId" name="queId" th:value="${problem.queId}"  type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">名称：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input id="queName" th:value="${problem.queName}" name="queName" class="form-control" type="text"
										   style="width: 250px">
								</div>
								<label class="col-sm-3 control-label" style="width: 16%">组织：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<select id="queOrganization" th:value="${problem.queOrganization}" name="queOrganization"
											style="width: 80px;height: 35px;">
										<option value=1>组织1</option>
										<option value=2>组织2</option>
										<option value=3>组织3</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<select id="queState" th:value="${problem.queState}" name="queState" style="width: 80px;height: 35px;">
										<option value=1>状态1</option>
										<option value=2>状态2</option>
										<option value=3>状态3</option>
									</select>
								</div>
								<label class="col-sm-3 control-label" style="width: 16%">优先级：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<select id="quePriority" th:value="${problem.quePriority}"  name="quePriority" style="width: 80px;height: 35px;">
										<option value=1>严重</option>
										<option value=2>高</option>
										<option value=3>中</option>
										<option value=4>低</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">服务：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<select id="queManage" th:value="${problem.queManage}" name="queManage" style="width: 80px;height: 35px;">
										<option value=1>服务1</option>
										<option value=2>服务2</option>
										<option value=3>服务3</option>
									</select>
								</div>
								<label class="col-sm-3 control-label" style="width: 16%">子服务：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<select id="queSbumanage" th:value="${problem.queSbumanage}" name="queSbumanage" style="width: 80px;height: 35px;">
										<option value=1>子服务1</option>
										<option value=2>子服务2</option>
										<option value=3>子服务3</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">处理：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input id="queDispose" th:value="${problem.queDispose}" name="queDispose" class="form-control" type="text"
										   style="width: 250px">
								</div>
								<label class="col-sm-3 control-label" style="width: 16%">开始时间：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input id="queStart" th:value="${problem.queStart}" name="queStart" class="form-control" type="date"
										   style="width: 250px">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">结束时间：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<input id="queEnd" th:value="${problem.queEnd}" name="queEnd" class="form-control" type="date"
										   style="width: 250px">
								</div>
								<label class="col-sm-3 control-label" style="width: 16%">发起人：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<select id="queInitiator" th:value="${problem.queInitiator}"  name="queInitiator" style="width: 80px;height: 35px;">
										<option value=1>发起人1</option>
										<option value=2>发起人2</option>
										<option value=3>发起人3</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">关联变更：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<select id="queRelevance" th:value="${problem.queRelevance}" name="queRelevance" style="width: 80px;height: 35px;">
										<option value=1>变更1</option>
										<option value=2>变更2</option>
										<option value=3>变更3</option>
									</select>
								</div>
								<label class="col-sm-3 control-label" style="width: 16%">部门：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<select id="queScope" th:value="${problem.queScope}"  name="queScope" style="width: 80px;height: 35px;">
										<option value=1>部门1</option>
										<option value=2>部门2</option>
										<option value=3>部门3</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">紧急程度：</label>
								<div class="col-sm-8" style="width: 25%;display: inline">
									<select id="queDegree"  th:value="${problem.queDegree}" name="queDegree" style="width: 80px;height: 35px;">
										<option value=1>非常高</option>
										<option value=1>高</option>
										<option value=2>中</option>
										<option value=3>低</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">描述：</label>
								<div class="col-sm-8">
                                        <textarea id="queDescribe" th:value="${problem.queDescribe}" name="queDescribe"
												  style="width: 450px;height: 120px;resize: none"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">日志：</label>
								<div class="col-sm-8">
                                        <textarea id="queLog" th:value="${problem.queLog}" name="queLog"
												  style="width: 450px;height: 120px;resize: none"></textarea>
								</div>
							</div>

																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/problem/edit.js">
	</script>
</body>
</html>
