<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="pcId" name="pcId" th:value="${pc.pcId}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">名称：</label>
								<div class="col-sm-8">
									<input id="pcName" name="pcName" th:value="${pc.pcName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">组织：</label>
								<div class="col-sm-8">
									<input id="organization" name="organization" th:value="${pc.organization}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<input id="state" name="state" th:value="${pc.state}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">业务级别：</label>
								<div class="col-sm-8">
									<input id="businessLevel" name="businessLevel" th:value="${pc.businessLevel}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">地理位置：</label>
								<div class="col-sm-8">
									<input id="geographicalPosition" name="geographicalPosition" th:value="${pc.geographicalPosition}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">品牌：</label>
								<div class="col-sm-8">
									<input id="brand" name="brand" th:value="${pc.brand}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">型号：</label>
								<div class="col-sm-8">
									<input id="model" name="model" th:value="${pc.model}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">OS家族：</label>
								<div class="col-sm-8">
									<input id="osFamily" name="osFamily" th:value="${pc.osFamily}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">OS版本：</label>
								<div class="col-sm-8">
									<input id="osVersion" name="osVersion" th:value="${pc.osVersion}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">类型：</label>
								<div class="col-sm-8">
									<input id="type" name="type" th:value="${pc.type}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">CPU：</label>
								<div class="col-sm-8">
									<input id="cpu" name="cpu" th:value="${pc.cpu}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">内存：</label>
								<div class="col-sm-8">
									<input id="memory" name="memory" th:value="${pc.memory}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">序列号：</label>
								<div class="col-sm-8">
									<input id="serialNumber" name="serialNumber" th:value="${pc.serialNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">资产编号：</label>
								<div class="col-sm-8">
									<input id="assetNumber" name="assetNumber" th:value="${pc.assetNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">投产日期：</label>
								<div class="col-sm-8">
									<input id="startingDate" name="startingDate" th:value="${pc.startingDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">采购日期：</label>
								<div class="col-sm-8">
									<input id="purchaseDate" name="purchaseDate" th:value="${pc.purchaseDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">过保日期：</label>
								<div class="col-sm-8">
									<input id="dateOfInsurance" name="dateOfInsurance" th:value="${pc.dateOfInsurance}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">描述：</label>
								<div class="col-sm-8">
									<input id="describe" name="describe" th:value="${pc.describe}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">软件：</label>
								<div class="col-sm-8">
									<input id="software" name="software" th:value="${pc.software}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">软件许可证：</label>
								<div class="col-sm-8">
									<input id="softwareLicense" name="softwareLicense" th:value="${pc.softwareLicense}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">联系人：</label>
								<div class="col-sm-8">
									<input id="contacts" name="contacts" th:value="${pc.contacts}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">组织：</label>
								<div class="col-sm-8">
									<input id="organize" name="organize" th:value="${pc.organize}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">邮箱：</label>
								<div class="col-sm-8">
									<input id="mailbox" name="mailbox" th:value="${pc.mailbox}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">电话：</label>
								<div class="col-sm-8">
									<input id="telephone" name="telephone" th:value="${pc.telephone}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">职责：</label>
								<div class="col-sm-8">
									<input id="duty" name="duty" th:value="${pc.duty}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">联系人状态：</label>
								<div class="col-sm-8">
									<input id="contactState" name="contactState" th:value="${pc.contactState}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">软件名称：</label>
								<div class="col-sm-8">
									<input id="softwareName" name="softwareName" th:value="${pc.softwareName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">软件组织：</label>
								<div class="col-sm-8">
									<input id="softwareOrganization" name="softwareOrganization" th:value="${pc.softwareOrganization}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">软件状态：</label>
								<div class="col-sm-8">
									<input id="softwareState" name="softwareState" th:value="${pc.softwareState}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">软件业务级别：</label>
								<div class="col-sm-8">
									<input id="softwareLevel" name="softwareLevel" th:value="${pc.softwareLevel}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">软件路径：</label>
								<div class="col-sm-8">
									<input id="softwareRoute" name="softwareRoute" th:value="${pc.softwareRoute}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">软件投产日期：</label>
								<div class="col-sm-8">
									<input id="softwareStartingDate" name="softwareStartingDate" th:value="${pc.softwareStartingDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">软件描述：</label>
								<div class="col-sm-8">
									<input id="softwareDescribe" name="softwareDescribe" th:value="${pc.softwareDescribe}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">文档：</label>
								<div class="col-sm-8">
									<input id="file" name="file" th:value="${pc.file}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">组织（文档）：</label>
								<div class="col-sm-8">
									<input id="fileOrganize" name="fileOrganize" th:value="${pc.fileOrganize}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">状态（文档）：</label>
								<div class="col-sm-8">
									<input id="fileState" name="fileState" th:value="${pc.fileState}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">类型（文档）：</label>
								<div class="col-sm-8">
									<input id="fileDype" name="fileDype" th:value="${pc.fileDype}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">描述（文档）：</label>
								<div class="col-sm-8">
									<input id="fileDescribe" name="fileDescribe" th:value="${pc.fileDescribe}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">名称（网卡）：</label>
								<div class="col-sm-8">
									<input id="networkName" name="networkName" th:value="${pc.networkName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">IP地址：</label>
								<div class="col-sm-8">
									<input id="networkIp" name="networkIp" th:value="${pc.networkIp}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">MAC地址：</label>
								<div class="col-sm-8">
									<input id="networkMac" name="networkMac" th:value="${pc.networkMac}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">注释：</label>
								<div class="col-sm-8">
									<input id="networkNotes" name="networkNotes" th:value="${pc.networkNotes}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">网关：</label>
								<div class="col-sm-8">
									<input id="networkGateway" name="networkGateway" th:value="${pc.networkGateway}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">掩码：</label>
								<div class="col-sm-8">
									<input id="networkMask" name="networkMask" th:value="${pc.networkMask}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">速率：</label>
								<div class="col-sm-8">
									<input id="networkSulv" name="networkSulv" th:value="${pc.networkSulv}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">本地网口：</label>
								<div class="col-sm-8">
									<input id="localNetworkPort" name="localNetworkPort" th:value="${pc.localNetworkPort}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">设备网口：</label>
								<div class="col-sm-8">
									<input id="equipmentNetMouth" name="equipmentNetMouth" th:value="${pc.equipmentNetMouth}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">连接设备（网络设备）：</label>
								<div class="col-sm-8">
									<input id="lineType" name="lineType" th:value="${pc.lineType}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">网络设备：</label>
								<div class="col-sm-8">
									<input id="networkEquipment" name="networkEquipment" th:value="${pc.networkEquipment}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">组织（网络设备）：</label>
								<div class="col-sm-8">
									<input id="networkOrganize" name="networkOrganize" th:value="${pc.networkOrganize}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">状态（网络设备）：</label>
								<div class="col-sm-8">
									<input id="networkState" name="networkState" th:value="${pc.networkState}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">业务级别（网络设备）：</label>
								<div class="col-sm-8">
									<input id="networkBusinessLevel" name="networkBusinessLevel" th:value="${pc.networkBusinessLevel}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">地理位置（网络设备）：</label>
								<div class="col-sm-8">
									<input id="networkGeographicalPosition" name="networkGeographicalPosition" th:value="${pc.networkGeographicalPosition}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">品牌（网络设备）：</label>
								<div class="col-sm-8">
									<input id="networkBrand" name="networkBrand" th:value="${pc.networkBrand}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">型号（网络设备）：</label>
								<div class="col-sm-8">
									<input id="networkModel" name="networkModel" th:value="${pc.networkModel}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">序列号（网络设备）：</label>
								<div class="col-sm-8">
									<input id="networkNumber" name="networkNumber" th:value="${pc.networkNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">供应商合同：</label>
								<div class="col-sm-8">
									<input id="supplierContract" name="supplierContract" th:value="${pc.supplierContract}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">状态（供应商合同）：</label>
								<div class="col-sm-8">
									<input id="supplierState" name="supplierState" th:value="${pc.supplierState}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">客户（供应商合同）：</label>
								<div class="col-sm-8">
									<input id="supplierCustomer" name="supplierCustomer" th:value="${pc.supplierCustomer}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">描述（供应商合同）：</label>
								<div class="col-sm-8">
									<input id="supplierDescribe" name="supplierDescribe" th:value="${pc.supplierDescribe}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">开始日期（供应商合同）：</label>
								<div class="col-sm-8">
									<input id="supplierStart" name="supplierStart" th:value="${pc.supplierStart}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">结束日期（供应商合同）：</label>
								<div class="col-sm-8">
									<input id="supplierEnd" name="supplierEnd" th:value="${pc.supplierEnd}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">供应商：</label>
								<div class="col-sm-8">
									<input id="supplier" name="supplier" th:value="${pc.supplier}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">SLA（供应商合同）：</label>
								<div class="col-sm-8">
									<input id="supplierSla" name="supplierSla" th:value="${pc.supplierSla}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">服务时间：</label>
								<div class="col-sm-8">
									<input id="serviceTime" name="serviceTime" th:value="${pc.serviceTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">服务：</label>
								<div class="col-sm-8">
									<input id="service" name="service" th:value="${pc.service}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">供应商（服务）：</label>
								<div class="col-sm-8">
									<input id="serviceSupplier" name="serviceSupplier" th:value="${pc.serviceSupplier}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">状态（服务）：</label>
								<div class="col-sm-8">
									<input id="serviceState" name="serviceState" th:value="${pc.serviceState}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">服务族：</label>
								<div class="col-sm-8">
									<input id="serviceFamily" name="serviceFamily" th:value="${pc.serviceFamily}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">例行变更：</label>
								<div class="col-sm-8">
									<input id="routerChange" name="routerChange" th:value="${pc.routerChange}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">正常变更：</label>
								<div class="col-sm-8">
									<input id="normalChange" name="normalChange" th:value="${pc.normalChange}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">紧急变更：</label>
								<div class="col-sm-8">
									<input id="urgentChange" name="urgentChange" th:value="${pc.urgentChange}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">问题：</label>
								<div class="col-sm-8">
									<input id="problem" name="problem" th:value="${pc.problem}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">事件：</label>
								<div class="col-sm-8">
									<input id="event" name="event" th:value="${pc.event}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">服务请求：</label>
								<div class="col-sm-8">
									<input id="serviceRequest" name="serviceRequest" th:value="${pc.serviceRequest}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/deploy/pc/edit.js">
	</script>
</body>
</html>
